* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/handmadepaper.png');
	color: #444;
	font-family: 'Trebuchet MS', Arial;
	margin: 0 auto;
	width: 1000px;
}

header #titles {
	float: left;
	width: 50%;
}

header #links {
	float: right;
	margin-top: 30px;
	text-align: right;
	width: 40%;
}

h1 {
	margin: 20px 0;
}

h2 {
	margin-left: 30px;
}

nav {
	float: left;
	line-height: 20px;
	padding: 20px 0;
	width: 25%;
}

nav ul {
	list-style-type: none;
}

nav ul ul {
	margin-left: 20px;
}

article {
	float: right;
	padding: 20px 0;
	width: 73%;
}

p {
	line-height: 30px;
}

footer {
	border-top: 1px solid #444;
	clear: both;
	font-size: 12px;
	text-align: right;
}

table {
	border-collapse: collapse;
	margin: 20px 0;
	width: 100%;
}

table#credentials {
	width: 400px;
}

table.list tr th {
	background-color: #ddd;
	border-bottom: 1px solid #444;
}

table.list tr + tr td {
	border-top: 1px dotted #444;
}

table td.center {
	text-align: center;
}

table.list tr.noBorder td {
	border: none;
}

label {
	display: inline-block;
	margin: 5px 0;
	width: 120px;
}

form#password label {
	width: 180px;
}

input[type=button],
input[type=submit] {
	margin: 5px 0;
	padding: 3px 10px;
}

a img {
	border: none;
}

br.clear {
	clear: both;
}
